# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
.out/
.cache/
coverage/

# Tooling caches
.eslintcache
.turbo/

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Hosting/platform
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env*
!.env.example
